/* Profile Section */
.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B; /* Main Black */
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
  }
  
  .avatar {
    width: 160px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .profileName {
    font-size: 2rem;
    color: #EFEBDF; /* Main White */
  }
  
  .profileLevel {
    font-size: 1.2rem;
    color: #EFEBDF;
    margin-bottom: 10px;
  }
  
  /* Progress Bar Container */
  .progressContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Adjust as needed */
    margin-top: 5px;
  }
  
  /* Text Labels */
  .progressLabelLeft {
    font-size: 1rem;
    color: #EFEBDF; /* Main White */
    margin-right: 10px;
  }
  
  .progressLabelRight {
    font-size: 1rem;
    color: #EFEBDF; /* Main White */
    margin-left: 10px;
  }
  
  /* Progress Bar Styling */
  .progressBar {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    --progress-background: #1B1B1B; /* Dark background */
    --progress-bar-background: #4CAF50; /* Green progress bar */
  }
  
  /* Course List */
  .courseList {
    margin: 0 15px;
  }
  
  .courseItem {
    background: #1B1B1B; /* Main Black */
    color: #EFEBDF; /* Main White */
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  ion-label h2 {
    color: #EFEBDF;
  }
  
  ion-label p {
    color: #A5A5A5; /* Lighter text */
  }
  
  ion-note {
    font-size: 1.2rem;
  }
  
  ion-avatar {
    background-color: #27367F; /* Primary Blue */
    border-radius: 10px;
    padding: 10px;
  }
  
  /* QuestPage Section Placeholder */
  .questSection {
    padding: 20px;
    text-align: center;
    color: #EFEBDF;
  }
  
  .nameLevelContainer {
    display: flex;
    align-items: bottom;
    align-items: baseline;
    gap: 0.5em;
  }
  