/* Profile Buttons */
.profileButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.findFriendButton,
.customizeCharacterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1rem;
  --border-radius: 0px;  /* Removing border-radius */
}

.findFriendButton {
  --background: #dedbb8; /* New Primary color */
}

.customizeCharacterButton {
  --background: #89886f; /* New Secondary color */
}

/* Profile Section */
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B; /* Main Black */
  padding: 20px;
  border-radius: 0px;  /* No rounded corners */
  margin: 20px;
}

.avatar {
  width: auto;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* New container for name and level to be side by side */
.nameLevelContainer {
  display: flex;
  align-items: baseline;
}

.profileName {
  font-size: 2rem;
  color: #dedbb8; /* New Primary color */
  margin-right: 10px; /* Add space between name and level */
}

.profileLevel {
  font-size: 1.2rem;
  color: #dedbb8; /* New Primary color */
}

/* Progress Bar Container */
.progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;  /* Adjust as needed */
  margin-top: 5px;
}

/* Text Labels */
.progressLabelLeft {
  font-size: 1rem;
  color: #dedbb8; /* New Primary color */
  margin-right: 10px;
}

.progressLabelRight {
  font-size: 1rem;
  color: #dedbb8; /* New Primary color */
  margin-left: 10px;
}

/* Progress Bar Styling */
.progressBar {
  width: 100%;  /* The progress bar fills the space between the text */
  height: 8px;  /* Custom height for the progress bar */
  border-radius: 0px;  /* Removing border-radius */
  --progress-background: #1B1B1B;  /* Dark background */
  --progress-bar-background: #89886f;  /* New Secondary color for filled part */
}

/* Quest Section */
.questSection {
  padding: 20px;
  text-align: center;
  color: #dedbb8; /* New Primary color */
}

/* Container for Suggested Courses */
.suggestedCoursesContainer {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between cards */
  margin-top: 15px;
}

/* Individual Course Card */
.courseCard {
  background-color: #1B1B1B; /* Main Black */
  padding: 15px;
  border-radius: 0px;  /* Removing border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.courseCard h3 {
  font-size: 1.1rem;
  color: #dedbb8; /* New Primary color */
  margin-bottom: 5px;
}

.courseCard p {
  font-size: 0.9rem;
  color: #A5A5A5; /* Lighter text */
  margin-bottom: 10px;
}

/* Button styling inside Course Cards */
.courseCard IonButton {
  --background: #dedbb8; /* New Primary color */
  --border-radius: 0px;  /* Removing border-radius */
  --border-color: #dedbb8;
}
