.tab-button {
    --background: black !important;
    background-color: black !important;
}

.tabs {
    --background: black !important;
}

.tabs > ion-tab-button {
    --background: black !important;
    background-color: black !important;
}